* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
  display: flex;
  width: 100%;
  padding: 30px;
  justify-content: center;
}

/* Start body rules */
body {
  background-image: linear-gradient(
    -325deg,
    rgba(3, 64, 114, 0.87) 20%,
    rgba(2, 70, 42, 0.64) 100%
  );
  background-attachment: fixed;
  background-repeat: no-repeat;

  opacity: 0.95;
}

header {
  margin: 2% auto 10% auto;
  text-align: center;
}

header h2 {
  font-size: 250%;
}

/* Start form  attributes */
.signin {
  float: left;
  width: 450px;
  min-height: 500px;
  height: 80%;
  padding: 2%;
  background: rgba(232, 232, 232, 1);
}

/* form Container */
.signin .signup {
  display: flex;
  -webkit-justify-content: space-around;
  justify-content: space-around;

  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.signup {
  float: right;
  width: 450px;
  min-height: 500px;
  height: 80%;
  padding: 2%;
  background: rgba(232, 232, 232, 1);
}

/* inputs form  */
input {
  width: 240px;
  height: 50px;
  margin-top: 2%;
  padding: 15px;
  font-size: 15px;
  font-family: "Abel", sans-serif;
  color: #5e6472;
  outline: none;
  border: none;
  border-radius: 0px 5px 5px 0px;
  transition: 0.2s linear;
}
/* focus  */
input:focus {
  transform: translateX(-2px);
  border-radius: 5px;
}

/* buttons  */
.registerbtn {
  display: inline-block;
  color: #ffffff;
  width: 280px;
  height: 50px;
  padding: 0 20px;
  background: rgba(0, 86, 184, 0.73);
  border-radius: 10px;
  outline: none;
  border: none;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  transition: all 0.2s linear;
  margin: 7% auto;
  letter-spacing: 0.05em;
}

/* buttons hover */
.registerbtn:hover {
  transform: translatey(3px);
  box-shadow: none;
}

/* buttons hover Animation */
.registerbtn:hover {
  animation: ani9 0.4s ease-in-out infinite alternate;
}
@keyframes ani9 {
  0% {
    transform: translateY(3px);
  }
  100% {
    transform: translateY(5px);
  }
}
